body {
    font-size: 20px;
    font-family: fantasy;
    background-color: #FFFF00;
    background-image: radial-gradient(red, yellow 80%);
    background-attachment: fixed;
    padding: inherit;
    text-align: center;
}

#welcome {
    padding: 50%;
    font-size: 40px;
    font-family: fantasy;
}

nav a{
    font-size: 40px;
    padding: 15px;
    text-decoration: none;
    font-family: fantasy;
    padding-bottom: 4px;
}

nav a:hover {
    background-color: rgb(200,200,200);
    transition: .9s;
}

footer {
    padding-top: 20%;
    color: gray;
    text-align: center !important;
}